#people-container {
  color: white;
}

#count {
  font-weight: 600;
  text-transform: uppercase;
}

#attendees {
  width: 388px;
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 200;
  opacity: 0.5;

}
