@import "./_variables";

.bttn {
  height: 40px;
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  font-family: $font-stack;
  &:focus {
    outline: none;
  }
  .delete-text {
    @include xsm {
      visibility: hidden;
    }
    @include sm {
      visibility: hidden;
    }
    @include md {
      visibility: visible;
    }
    @include lg {
      visibility: visible;
    }
  }
  .delete-icon {
    @include xsm {
      visibility: visible;
    }
    @include sm {
      visibility: visible;
    }
    @include md {
      visibility: hidden;
    }
    @include lg {
      visibility: hidden;
    }
  }
}
.rsvp {
  border: 1px;
  z-index: 3;
  background-color: $secondary;
  color: $text-color;
  position: relative;
  width: 98px;
  height: 39px;
  font-size: 20px;
}

.host {
  font-weight: 900;
  border: none;
  outline: none;
  height: 100%;
  flex: 50%;
}

.left-host {
  border-radius: 15px 0px 0px 15px;
}

.right-host {
  border-radius: 0px 15px 15px 0px !important;
}
.active {
  background-color: $primary;
  color: $text-color;
}

.ingredient-delete {
  margin-bottom: 50%;
  padding: 0;
  border: none;
  color: $accent;
  width: 14px;
}
.delete {
  background-color: #df3d3d;
  border: none;
  color: $text-color;
  float: right;
  margin-left: auto;
  width: 179px;
  height: 50px;
}
.cancel {
  background-color: $accent;
  border: none;
  color: $text-color;
  float: left;
  margin-right: auto;
  width: 179px;
  height: 50px;
}
.submit {
  position: absolute;
  border: none;
  color: $text-color;
  background-color: $accent;
  border-radius: 14px;
  height: 50px;
  width: 242px;
  font-weight: bold;
  bottom: 0px;
  right: 0px;
}
