@import "./variables";

.checkbox {
	text-align: center;
	z-index: 5;
	color: $text-color;
	border-radius: 4px;
}
.checked {
	line-height: 18px;
	width: 18px;
	height: 18px;
	border-radius: inherit;
	background-color: $primary;
}

.unchecked {
	width: 18px;
	height: 18px;
	border-radius: inherit;
	background-color: $tertiary;
}
