@import "./_variables";

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1920px;

  position: relative;
  margin: auto;

  @include xsm {
    top: -230px;
    flex-direction: column;
    padding-left: $mobile-left;
    padding-right: $mobile-right;
  }

  @include lg {
    top: -220px;
    flex-direction: row;
    padding-left: $padding-left;
    padding-right: $padding-right;
  }
  .offset {
    margin-top: 0px;
  }
}

.content-container > div {
  margin: auto;
  padding-top: 60px;
  height: 100%;

  @include xsm {
    width: 80%;
  }
  @include lg {
    width: 50%;
    justify-content: space-evenly;
  }
}

.content-container > div:last-child {
  @include sm {
    margin: auto;
  }
  @include md {
    margin: auto;
  }
  @include lg {
    position: relative;
    margin-left: 170px;
    // top: -6px;
  }
}
