@import "./_variables";

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1920px;
  position: relative;
  margin: auto;
  padding-top: 40px;

  @include xsm {
    flex-direction: column;
    padding-left: $mobile-left;
    padding-right: $mobile-right;
  }

  @include lg {
    flex-direction: row;
    padding-left: $padding-left;
    padding-right: $padding-right;
  }
  .offset {
    margin-top: 0px;
  }
}

.content-container > div {
  margin: auto;
  
  height: 100%;

  @include xsm {
    width: 80%;
  }
  @include lg {
    width: 50%;
    justify-content: space-evenly;
  }
}

.content-container > div:last-child {
  @include sm {
    margin: auto;
  }
  @include md {
    margin: auto;
  }
  @include lg {
    margin-left: 170px;
    margin-top: 0px;
  }
}
