@import "./variables";


.body{
  margin-top: 22px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
      .question {
      text-align: center;
      font-size: 18px;
      position: relative;
    }
    .item-name {
      font-size: 32px;
      line-height: 38px;
    }
}

.footer{
  margin-top: 52px !important;
}