@import "./_variables";

$small-head-top: 25px;

.main-header {
  display: flex;
  border-bottom: none;
  overflow: visible;
  position: relative;
  height: 100%;
  width: 100%;

  .shape {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: $primary;
    height: 100%;
    @include md {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    @include lg {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
  }
  .sub-header {
    position: relative;
    padding-top: 20px;
    width: 100%;

    @include sm {
      padding-left: 11%;
      padding-right: 11%;
    }
    @include md {
    }
    @include lg {
      padding-left: $padding-left;
      padding-right: $padding-right;
    }

    .event {
      z-index: 2;
      float: left;
      top: -4px;

      .attendees {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        font-weight: 200;
        opacity: 0.5;
        color: $text-color;
        height: 100%;
      }

      @include xsm {
        font-size: 20px;
        max-width: 200px;
        width: 60%;
      }
      @include sm {
        max-width: 250px;
        width: 65%;
      }
      @include md {
        font-size: 20px;
        max-width: 400px;
        width: 90%;
      }
      @include lg {
        font-size: 25px;
        max-width: 500px;
        width: 100%;
      }
      .date {
        font-weight: 900;
        width: 100%;
      }

      .host {
        color: $text-color;
        font-weight: 700;
      }
      .button-position {
        @include xsm {
          top: 10px;
        }
        @include lg {
          top: 10px;
        }
      }

      #count {
        font-weight: 600;
        text-transform: uppercase;
        color: $text-color;
        @include xsm {
          font-size: 15px;
        }

        @include lg {
          font-size: 20px;
        }
      }
    }
    .delete-area {
      position: absolute;
      z-index: 4;
      font-weight: 500;
      right: 0px;
      @include xsm {
        top: -7px;
        padding-top: 20px;
        padding-right: 8%;
      }
      @include sm {
        top: -170px;
        padding-right: 10%;
      }
      @include md {
        top: -10px;
      }
      @include lg {
        top: -10px;
        padding-right: $padding-right;
      }
      .delete-button {
        content: "Delete Event";
        font-weight: 400;
        opacity: 0.7;
        color: $text-color;
        z-index: 5;
        width: 100%;
        @include xsm {
          font-size: 10px;
          padding-top: 10px;
        }
        @include sm {
          font-size: 10px;
        }
        @include md {
          font-size: 20px;
        }
        @include lg {
          font-size: 22px;
        }
      }
    }
  }
}
