
@import "./_variables";

.main-header {
  position: relative;
  height: 400px;
  width: 100%;
  margin: auto;
  border-bottom: none;
  overflow: visible;
  
}
.sub-header {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

.shape {
  height: 100%;
  width: 100%;
  float: left;
  position: absolute;
  z-index: 0;
  shape-outside: polygon(0 0, 100% 0, 100% 31%, 0 48%);
  clip-path:polygon(0 0, 100% 0, 100% 31%, 0 48%);
  background: $primary;
  overflow: visible;
}



.delete-area {
  position: relative;
  z-index: 4;
  float: right;
  top: 10px;
  // width: 200px;
  font-weight: 500;

}
.event{
  z-index: 2;
  position: absolute;
  width: 30%;
  overflow: visible;
  padding-top: 20px;
  
}

#date{
  font-size: 25px;
  font-weight: 900;
  width: 100%;
}

#host{
  font-size: 25px;
  color: $text-color;
  font-weight: 700;
}



#count {
  font-weight: 600;
  text-transform: uppercase;
  color: $text-color;
  font-size: medium;
}

#attendees {
  width: 388px;
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 200;
  opacity: 0.5;
  color: $text-color;
  height: 38px;
  overflow: hidden;

}
