@import "./_variables";

.info-area {
  margin-top: 25px;
  height: 100%;
  width: 100%;
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 1px 3px 7px;
}
.head {
  padding-left: 10px;
  padding-top: 20px;
  display: flex;
  flex: row;
  width: 100%;
}
.name {
  position: relative;
  bottom: 25px;
  padding-left: 30px;
  width: 80%;
  font-weight: 600;
  font-size: 18px;
  top: -19px;
}
.delete-ingredient {
  position: relative;
  font-size: 50px;
  margin-left: auto;
  float: right;
  bottom: 30px;
}

.ingredient {
  padding: 10px;
  padding-left: 20px;
  display: flex;
}
.i-name {
  width: 100%;
  position: relative;
  font-size: 12px;
  padding-left: 10px;
  top: 1px;
}
.assigned {
  text-align: right;
  position: relative;
  right: 20px;
  font-size: 16px;
  color: $primary;
  top: -3px;
}
