@import "./_variables";

.list-head{
  display: inline-block;
  border-bottom: 2px solid $accent;
  padding-bottom: 2;
  width: 100%;
  display: flex;
}

#list-name{
    margin-left: 0;
  margin-right: auto;
 font-size: 32;
}

#list-add{
  color: $accent;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  right: -20px;
  float: right;
  border: none;
  font-weight: 700;
  font-size: 30px;
}