@import "./_variables";

.list-head {
  border-bottom: 2px solid $accent;
  margin-bottom: 18px;
  width: 100%;
  display: flex;
}

#list-name {
  margin-left: 0;
  margin-right: auto;
  font-size: 32px;
}

#list-add {
  font: $font-stack;
  color: $accent;
  position: relative;
  right: -22px;
  top: -28px;
  float: right;
  border: none;
  font-weight: 600;
  font-size: 58px;
}
