@import "./App.scss";

.info-area {
  margin-top: 25px;
  height: 100%;
  width: 100%;
  min-height: 200px;
  border-radius: 20px;
  box-shadow: 1px 3px 7px;
  display: inline-block;

  .head {

    padding-left: 10px;
    padding-top: 10px;
    display: block;
  }
  .name {
    position: relative;
    top: -20px;
    padding-left: 40px;
  }
  .delete-area {
    margin: 0;
    position: relative;
    // right: -150px;
    float: right;
    font-size: 50px;
    top: -85px;
  }
}

.ingredient{
  padding-left: 20px;
  .i-name {
    position: relative;
    top: -15px;
    padding-left: 40px;
  }
}
