@import "./variables";
.items-body {
  height: 100%;
  width: 100%;
  margin: 39px auto 0px auto;
  padding: 9px 10px 27px 13px;
  box-shadow: 0px 5px 20px rgba(31, 11, 73, 0.15);
  border-radius: 10px;
  overflow: hidden;
  .head {
    display: flex;
    .head-float {
      top: 2px;
      margin-right: 8px;
    }
    .item-input {
      position: relative;
      opacity: 1;
      width: 100%;
      border: none;
      color: black;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      background-color: #f7f7f7;
      &:focus {
        outline: none;
      }
    }
  }
  .symbol {
    position: relative;
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff6df;
    color: $text-color;
    line-height: 19px;
    top: 10px;
  }
  .filled {
    background-color: $primary;
  }
}



.add-ingredient {
  display: flex;
  line-height: 20px;
  height: 18px;
  margin-left: 9px;

  .add-button {
    color: $primary;
    opacity: 1 !important;
    font-size: 14px;
    font-weight: 400;
    width: 110px;
    &:focus {
      outline: none;
    }
  }
}

.ingredient-form-container {
  position: relative;
  border: none;
  width: 100%;
  margin-left: 9px;
  font-size: 14px;
  height: 100%;
  .ingredient-item {
    display: flex;
    padding-right: 10px;

    .lead {
      position: relative;
      // top: 28px;
      height: 18px;
    }

    .ingredient-form {
      margin-top: 7px;
      margin-left: 8px;
      opacity: 1;
      width: 100%;
      border: none;
      color: black;
      background-color: #f7f7f7;
      // background-color: pink;
      height: 26px;
      &:focus {
        outline: none;
      }
    }
  }
}
