@import "./_variables";

.new-session {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 4;
  background-color: $background;
  border-radius: 10px;
  text-align: center;
  margin: auto;

  min-width: 350px;
  max-width: 701px;
  min-height: 400px;
  max-height: 430px;

  top: 200px;
  box-shadow: 0px 41px 34px rgba(31, 11, 73, 0.1);
  padding: 31px 21px 25px 21px;
  .header {
    border-bottom: 3px solid $accent;
    width: 100%;
    height: 100%;
    line-height: 38px;
    margin: auto;
    @include sm {
      font-size: 15px;
    }
    @include md {
      font-size: 25px;
    }
    @include lg {
      font-size: 32px;
    }
  }
  .date-area {
    margin-top: 34px;
    .picker {
      border: none;
      text-align: center;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      &:focus {
        outline: none;
      }
    }
    .info {
      color: $primary;
    }
  }
  .button-container {
    position: relative;
    display: flex;
    height: 4em;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    box-shadow: 0px 2px 14px rgba(135, 123, 163, 0.2);
    border-radius: 15px;
    margin-top: 41px;
  }
  .create-new {
    position: absolute;
    right: 21px;
    bottom: 25px;
  }
}
