@import "./_variables";

.new-session {
  position: absolute;
  z-index: 4;
  background-color: $background;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 40%;
  top: 15%;
  left: 30%;
  box-shadow: 0.5px 3px 15px;
  height: 400px;
}
.header {
  border-bottom: 3px solid $accent;
  width: 80%;
  margin: auto;
}


.button-container {
  height: 4em;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  box-shadow: 0.5px 0.5px 10px;
  position: relative;
  top: 100px;
  border-radius: 15px;
  display: flex;
}


