@import "./_variables";

.no-session {
  max-height: 400px;
  height: 100%;
  width: 100%;
  #right-triangle {
    position: absolute;
    bottom: 0;
    shape-outside: polygon(0 70%, 100% 5%, 100% 100%, 0% 100%);
    clip-path: polygon(0 72%, 100% 41%, 100% 100%, 0% 100%);
    background: $primary;
    height: 100%;
    width: 100%;
  }

  .diamond {
    background-color: blue;
    color: red;
    background: purple;
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    // min-width: 100px;
    // min-height: 100px;
  }

  // .small {
  //   z-index: 3;
  //   background-color: $tertiary;
  //   width: 100%;
  // }
  // .medium-small {
  // }

  // .medium {
  //   z-index: 2;
  //   width: 100%;
  //   height: 100%;
  // }
  // .medium-large {
  //   background-color: $tertiary;
  //   z-index: 2;
  // }

  // .large {
  //   width: 100%;
  //   z-index: 1;
  // }

  // .left {
  //   float: left;
  //   position: relative;
  //   left: 8%;
    // .boxGroupLeft {
    //   position: absolute;
    //   left: 100px;
    //   top: 100px;
    //   #two {
    //     position: relative;
    //     top: 200px;
    //   }
    //   #three {
    //     position: relative;
    //   }
    // }
    // #one {
    //   left: 80px;
    //   top: 80px;
    // }

    // #four {
    //   top: 150px;
    //   left: 350px;
    // }
    // #five {
    //   left: 270px;
    //   top: 70px;
    // }
  // }
  // .right {
  //   float: right;
  //   position: relative;
  //   right: 17%;

    // #six {
    //   right: 375px;
    //   top: 100px;
    // }
    // #seven {
    //   right: 535px;
    //   bottom: -525px;
    // }
    // #eight {
    //   top: 320px;
    //   right: 340px;
    // }
    // #nine {
    //   right: -75px;
    //   top: 180px;
    // }
    // #ten {
    //   background-color: $tertiary;
    //   right: -20px;
    //   top: 100px;
    //   z-index: 0;
    // }
    // #eleven {
    //   right: -50px;
    // }
    // #twelve {
    //   right: 175px;
    //   width: 100px;
    //   height: 100px;
    // }
  // }
}
