@import "./App.scss";

.no-session {
  width: 100%;
}

#right-triangle {
  position: fixed;
  bottom: 0;
  shape-outside: polygon(0 70%, 100% 5%, 100% 100%, 0% 100%);
  clip-path: polygon(0 72%, 100% 41%, 100% 100%, 0% 100%);
  background: $primary;
  height: 100%;
  width: 100%;
}

.diamond {
  background: $secondary;
  position: absolute;
  transform: rotate(45deg);
  shape-outside: inset() padding-box;
  clip-path: inset() padding-box;
  padding: 2em;
  width: 15em;
  height: 15em;
}

.small {
  width: 50px;
  height: 50px;
  z-index: 3;
  background-color: $tertiary;
}
.medium-small {
  width: 70px;
  height: 70px;
}

.medium {
  width: 125px;
  height: 125px;
  z-index: 2;
}
.medium-large {
  background-color: $tertiary;
  width: 150px;
  height: 150px;
  z-index: 2;
}

.large {
  width: 200px;
  height: 200px;
  z-index: 1;
}

.left {
  float: left;
  position: absolute;
  left: 8%;
  top: 20%;
}
.right {
  float: right;
  position: relative;
  right: 17%;
  top: 200px;
}

#boxGroupLeft {
  position: absolute;
  left: 100px;
  top: 100px;
}

#one {
  left: 80px;
  top: 80px;
}
#two {
  position: relative;
  top: 200px;
}
#three {
  position: relative;
}
#four {
  top: 150px;
  left: 350px;
}
#five {
  left: 270px;
  top: 70px;
}
#six {
  right: 375px;
  top: 100px;
}
#seven {
  right: 535px;
  bottom: -525px;
}
#eight {
  top: 320px;
  right: 340px;
}
#nine {
  right: -75px;
  top: 180px;
}
#ten {
  background-color: $tertiary;
  right: -20px;
  top: 100px;
  z-index: 0;
}
#eleven {
  right: -50px;
}
#twelve {
  right: 175px;
  width: 100px;
  height: 100px;
}
