.rsvp-label {
  margin-top: 24px;
  font-size: 18px;
  line-height: 21px;
}

.name-input-container {
  width: 100%;
  height: 42px;

  margin: 7px auto 0px auto;
  border: none;
  opacity: 1;
  .name-input {
    max-width: 320px;
    background: #f6f6f6;
    padding-top: auto;
    margin: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    opacity: 1;
    border: inherit;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
.name-support {
  font-size: 10px;
  line-height: 12px;
  margin-top: 10.5px;
}
