.header {
  height: 200px;
  width: 100%;
  margin: 0;
  border-bottom: none;
}
.shape {
  height: 100%;
  width: 100%;
  float: left;
  position: absolute;
  z-index: 0;
  shape-outside: polygon(100% 0, 100% 16%, 0 33%, 0 0);
  clip-path: polygon(100% 0, 100% 16%, 0 33%, 0 0);
  background: rgb(139, 84, 255);
}

.event-info {
  z-index: 1;
  position: relative;
  padding-left: 17%;
  overflow: visible;
}

.right-box {
  position: absolute;
  z-index: 1;
  float: right;
  right: 10px;
  top: 10px;
}
.rsvp-modal {
  position: relative;
  bottom: -20px;
}
